<!--
<div class="container">
    <ng-container>
        <div class="row">
            <div class="card col-md-3">
                <img class="img" src="assets/PEWJF2204204_01.jpg" alt="">
                <h5 class="cimke">name</h5>
                <p class="cimke">leiras</p>
                <p>Price:<strong>$</strong></p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
        </div>
    </ng-container>
</div>-->

<div class="container">
    <div class="row">
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/leveles.jpg" alt="">
               <!-- <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Wink Leaf Necklake</h5>-->
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Wink Leaf Necklake</p>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/noi2.jpg" alt="">
               <!-- <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Wink Leaf Necklake</h5>-->
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Police Skull</p>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/ferfi1.jpg" alt="">
               <!-- <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Wink Leaf Necklake</h5>-->
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Police Berkley</p>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/pandorasziv.jpg" alt="">
               <!-- <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Wink Leaf Necklake</h5>-->
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Pandora Heart Necklake</p>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/noi1.jpg" alt="">
               <!-- <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Wink Leaf Necklake</h5>-->
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Police Rose</p>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/ferfi2.jpg" alt="">
               <!-- <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Wink Leaf Necklake</h5>-->
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Police Alkanin</p>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/Police_neck.jpg" alt="">
               <!-- <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Wink Leaf Necklake</h5>-->
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Police Man Necklake</p>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/kutyalanc.jpg" alt="">
               <!-- <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Wink Leaf Necklake</h5>-->
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Pandora Man Necklake</p>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/mixedcluff.jpg" alt="">
               <!-- <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Wink Leaf Necklake</h5>-->
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Mixed Cluff Ring</p>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/motif.jpg" alt="">
               <!-- <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Wink Leaf Necklake</h5>-->
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Motif Ring</p>
            </div>
        </ng-container>


    </div>
</div>